<app-layout>
  <div class="profile" nz-row>
    <div class="profile-main" nz-col nzSpan="24">
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="profile-main_avatar">
            <nz-avatar
              [nzSize]="100"
              nzText="CC"
              style="
                color: #ffffff;
                background-color: #0075ff;
                font-size: 40px;
              "></nz-avatar>
            <p class="profile-main_title">Сергей Сергеев Сергеевич</p>
            <p class="profile-main_number">1234567890</p>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="profile-main_field"></div>
        </div>
        <div nz-col nzSpan="8">fsa</div>
      </div>
    </div>
    <div class="profile-actions" nz-col nzSpan="24">
      <div nz-row>
        <div nz-col nzSpan="12"></div>
        <div nz-col nzSpan="12"></div>
      </div>
    </div>
  </div>
</app-layout>
