<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleOk()"
  [nzWidth]="'570px'"
  [nzClassName]="'welcome-modal'">
  <ng-template #modalTitle>
    <p class="welcome-modal_title">Добро пожаловать!</p>
  </ng-template>

  <ng-template #modalContent>
    <p class="welcome-modal_des">
      Rebrus - это скромный проект, которым занимается группа
      студентов-разработчиков, предназначение которого является анализ и
      диагностика состояния людей с когнитивным нарушением.
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      style="border-radius: 4px">
      OK
    </button>
  </ng-template>
</nz-modal>
