<app-layout>
  <div class="patients-component">
    <div class="patients-component_head">
      <div class="patients-component_head-text">
        <h3 class="patients-component_head-text-title">Список пациентов</h3>
        <p class="patients-component_head-text-des">Таблица с пациентами</p>
      </div>
      <div class="patients-component_head-actions">
        <div class="patients-component_head-action">
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            style="font-size: 16px"></span>
          <p class="patients-component_head-action-text">Удалить</p>
        </div>
        <div class="patients-component_head-action">
          <span
            nz-icon
            nzType="filter"
            nzTheme="outline"
            style="font-size: 16px"></span>
          <p class="patients-component_head-action-text">Фильтр</p>
        </div>
        <div class="patients-component_head-btns">
          <button
            nz-button
            nzType="default"
            nzSize="default"
            style="border-radius: 8px">
            <span
              nz-icon
              nzType="cloud-download"
              nzTheme="outline"
              style="font-size: 16px"></span>
            Экспорт
          </button>
          <button
            nz-button
            nzType="primary"
            nzSize="default"
            style="border-radius: 8px"
            (click)="handleModal()">
            <span
              nz-icon
              nzType="plus"
              nzTheme="outline"
              style="font-size: 16px"></span>
            Добавить пациента
          </button>
        </div>
      </div>
    </div>
    <div class="patients-component_table">
      <nz-table #rowSelectionTable [nzData]="listOfData">
        <thead>
          <tr>
            <th (click)="selectAllBlock()">
              <input
                class="custom-checkbox"
                [(ngModel)]="mainCheckBox"
                type="checkbox"
                (change)="selectAll()" />
            </th>
            <th
              *ngFor="let column of listOfColumn"
              [(nzSortOrder)]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn">
              {{ column.title }}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td (click)="singleSelectBlock(data)">
              <input
                class="custom-checkbox"
                [(ngModel)]="data.isSelected"
                type="checkbox"
                (change)="singleSelect()" />
            </td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.iin }}</td>
            <td>{{ data.genderText }}</td>
            <td>{{ data.createdDate }}</td>
            <td>
              <button
                style="border: none; box-shadow: none"
                class="table-file-btn"
                nz-button
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="menu1"
                nzPlacement="bottomRight">
                <span nz-icon nzType="ellipsis"></span>
              </button>
            </td>

            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="actions('open', data)">Перейти</li>
                <li nz-menu-item (click)="actions('delete', data)">Удалить</li>
              </ul>
            </nz-dropdown-menu>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <app-create-patient-modal
    [isVisible]="isCreateModal"
    (clicked)="handleModal()"></app-create-patient-modal>
</app-layout>
