<app-layout>
  <div class="home-component">
    <div nz-row [nzGutter]="[30, 30]">
      <div nz-col nzSpan="24">
        <div class="home-component_plot">
          <h3 class="home-component_title">
            {{ 'home.title' | translate
            }}<span style="font-weight: 500">,</span>
            {{ 'home.doctor' | translate }}
            <span style="font-weight: 500">Улан</span>.
          </h3>
          <div nz-row nzJustify="space-between">
            <p nz-col nzSpan="12" class="home-component_stat-title">
              {{ 'home.static' | translate }}
            </p>
            <div nz-col nzSpan="12" style="text-align: end">
              <nz-radio-group
                [(ngModel)]="time"
                style="margin-bottom: 8px"
                nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="'month'">{{
                  'home.month' | translate
                }}</label>
                <label nz-radio-button [nzValue]="'week'">{{
                  'home.week' | translate
                }}</label>
                <label nz-radio-button [nzValue]="'30'">{{
                  'home.day' | translate
                }}</label>
              </nz-radio-group>
            </div>
          </div>
          <div>
            <canvas id="canvas">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="home-component_block1">
          <div class="home-component_count">
            <p class="home-component_count-title">
              {{ 'home.amountPatient' | translate }}
            </p>
            <h3 class="home-component_count-amount">10</h3>
          </div>
          <div class="home-component_count">
            <p class="home-component_count-title">
              {{ 'home.countPatient' | translate }}
            </p>
            <h3 class="home-component_count-amount">104</h3>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="home-component_block2">
          <p class="home-component_faq-title">{{ 'home.faq' | translate }}</p>
          <ul class="home-component_faq-lists">
            <li *ngFor="let item of faqLists" class="home-component_faq-list">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="home-component_block3">
          <div class="home-component_percent">
            <p class="home-component_percent-title">
              Процентов явки на лечение
            </p>
            <h3 class="home-component_percent-amount">73%</h3>
          </div>
          <div class="home-component_percent">
            <p class="home-component_percent-title">
              Процентов показателя всех пациентов
            </p>
            <h3 class="home-component_percent-amount">86%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
