<app-main-layout>
  <div class="home-component">
    <div class="home-component_head"></div>
    <nz-table #rowSelectionTable [nzData]="listOfData">
      <thead>
        <tr>
          <th (click)="selectAllBlock()">
            <input
              [(ngModel)]="mainCheckBox"
              type="checkbox"
              (change)="selectAll()" />
          </th>
          <th nzColumnKey="surname" [nzSortFn]="true">Фамилия</th>
          <th>Имя</th>
          <th>ИИН</th>
          <th nzColumnKey="gender" [nzFilterFn]="true">Пол</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td (click)="singleSelectBlock(data)">
            <input
              [(ngModel)]="data.isSelected"
              type="checkbox"
              (change)="singleSelect()" />
          </td>
          <td>{{ data.surname }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.iin }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.creationDate }}</td>
          <td>
            <img src="./assets/icons/actions.svg" alt="" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</app-main-layout>
